name: Front
on:
      push:
            branches: ['develop']
            paths:
                  - 'front/**'
      pull_request:
            branches:
                  - main
            paths:
                  - 'front/**'
            types: [ opened, synchronize, reopened ]

jobs:
      ci:
            name: CI
            runs-on: ubuntu-latest
            strategy:
                  matrix:
                        node-version: [20]
            steps:
                  - name: Check source code
                    uses: actions/checkout@v4

                  - name: Setup Node
                    uses: actions/setup-node@v4
                    with:
                          node-version: 20
                          cache: 'npm'
                          cache-dependency-path: front/package-lock.json

                  - name: Install dependencies
                    run: npm ci
                    working-directory: front

                  - name: Run tests
                    run: npm run test:prod # --browsers=ChromeHeadlessNoSandbox
                    working-directory: front

                  - name: Upload report
                    uses: actions/upload-artifact@v4
                    with:
                          name: karma-report
                          path: front/coverage/bobapp

      analyze:
            name: Analyze front
            runs-on: ubuntu-latest
            needs: [ci]
            steps:
                  - uses: actions/checkout@v4
                    with:
                        # Disabling shallow clone is recommended for improving relevancy of reporting
                        fetch-depth: 0
                  - name: SonarCloud Scan
                    uses: sonarsource/sonarcloud-github-action@v2.3.0
                    env:
                        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                   
      docker:
            name: Docker front
            runs-on: ubuntu-latest
            needs: [analyze]
            steps:
                  - name: Checkout code
                    uses: actions/checkout@v4
                  - name: Set up QEMU
                    uses: docker/setup-qemu-action@v3
                  - name: Set up Docker Buildx
                    uses: docker/setup-buildx-action@v3
                  - name: Login to Docker Hub
                    uses: docker/login-action@v3
                    with:
                          username: ${{ secrets.DOCKERHUB_USERNAME }}
                          password: ${{ secrets.DOCKERHUB_TOKEN }}
                  - name: Build and push
                    uses: docker/build-push-action@v6
                    with:
                          context: ./front
                          file: ./front/Dockerfile
                          push: true
                          tags: jufau/bobapp:latest
